* {
  box-sizing: border-box;
}

.container {
  font-family: inter, sans-serif;
  width: 550px;
}

.navbar {
  background-color: #21222a;
  display: flex;
  align-items: center;
  height: 90px;
  padding: 30px 25px;
}

.navbar > h2,
.navbar > h3 {
  margin: 0;
}

.navbar img {
  width: 60px;
}

.navbar h2 {
  color: #61dafb;
  margin-right: auto;
}

.navbar h3 {
  color: white;
  padding-right: 10px;
}
