* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  font-family: inter, sans-serif;
  width: 100dvw;
  height: 100dvh;
}

.navbar {
  background-color: #21222a;
  display: flex;
  align-items: center;
  height: 10dvh;
  padding: 30px 25px;
}

.navbar > h2,
.navbar > h3 {
  margin: 0;
}

.navbar img {
  width: 60px;
}

.navbar h2 {
  color: #61dafb;
  margin-right: auto;
}

.navbar h3 {
  color: white;
  padding-right: 10px;
}

.game-container {
  width: 100dvw;
  height: 90dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  margin-block: 20px;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90%;
  height: 65dvh;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  margin-top: 30px;
}

.box {
  width: 25%;
  height: 25%;
  /* background-color: #eee; */
  border-radius: 10px;
}
.filled {
  background-image: url("./images/mouse1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.clicked {
  /* background-color: #ff00006b; */
  position: relative;
}

.clicked::after {
  content: "X";
  font-size: 150px;
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
}
